body { 
    font-family: 'Times New Roman', Times, serif; /* Define a fonte padrão para o corpo do documento */
    background-color: #c6d7e8a7; /* Define a cor de fundo do corpo do documento */
    background-image: url(download.jfif);
    color: #082e86; /* Define a cor do texto principal */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 50%; /* Define a largura máxima do conteúdo para manter o layout responsivo */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente na página */
    padding: 20px; /* Adiciona preenchimento ao redor do conteúdo */
    background-color: rgb(192, 219, 250);
    box-shadow: 0 0 10px #224585;
    border-radius: 10px;
    max-height: auto;
}

img:hover{
    transform: scale(1.1);
}

h1{
    text-align: center;
    font-size: 40px;
}

.galeria {
    flex-direction: row;
}

img{
    width: 300px;
    height: 400px;
}
